.bookSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  // > :first-child {
  > div {
    display: flex;
    justify-content: center;
  }
  .buttonContainer {
    margin-block-start: 1rem;
    margin-block-end: 10rem;
  }
}

.bookSection:first-child {
  border: 1px solid blue;
}
