$light-hover: 10%;

.button {
  color: var(--button-foreground-color);
  padding-block: 0.8rem;
  padding-inline: 1rem;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background-image: radial-gradient(
    farthest-corner at 30% 30%,
    var(--button-background-start) 0%,
    var(--button-background-end) 90%
  );
  &:hover {
    background-image: radial-gradient(
      farthest-corner at 30% 30%,
      var(--button-background-hover-start) 0%,
      var(--button-background-hover-end) 90%
    );
  }
  &.disabled {
    background: gray;
    cursor: not-allowed;
  }
  &.danger {
    background-image: radial-gradient(
      farthest-corner at 30% 30%,
      var(--button-background-danger-start) 0%,
      var(--button-background-danger-end) 90%
    );
    &:hover {
      background-image: radial-gradient(
        farthest-corner at 30% 30%,
        var(--button-background-danger-hover-start) 0%,
        var(--button-background-danger-hover-end) 90%
      );
    }
  }
}
