.formContainer {
  display: flex;
  justify-content: center;
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    label {
      display: flex;
      flex-direction: column;
      margin-block-end: 1rem;

      input,
      textarea {
        margin-block-start: 0.2rem;
      }
      input {
        max-width: 300px;
      }
      textarea {
        height: 150px;
      }
    }
    .imageInputContainer {
      display: flex;
      justify-content: center;
      .imageLabel {
        display: flex;
        justify-content: center;
        width: 100%;
        .imageInput {
          display: flex;
          justify-content: center;
          .imageContainer {
            aspect-ratio: 1;
            position: relative;
            max-width: 150px;
            height: 150px;
            .image {
              max-width: 150px;
              object-fit: contain;
              cursor: pointer;
            }
          }
          .imageButton {
            cursor: pointer;
            padding: 1rem;
            border: 1px dashed var(--doted-border);
            width: min-content;
            white-space: nowrap;
          }
        }
      }
    }
    .submitContainer {
      display: flex;
      justify-content: center;
    }
  }
}

// .errorMessage {
//   margin-block: 1rem;
//   color: var(--error-color);
//   font-weight: bold;
// }
