.formContainer {
  display: flex;
  justify-content: center;
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    label {
      display: flex;
      flex-direction: column;
      margin-block-end: 1rem;

      input,
      textarea {
        margin-block-start: 0.2rem;
      }
      input {
        max-width: 300px;
      }
      textarea {
        height: 150px;
      }
    }
    .imageInputContainer {
      display: flex;
      justify-content: center;
      .imageInput {
        cursor: pointer;
        .imageContainer {
          max-width: 50%;
          img {
            max-width: 150px;
          }
        }
        .imageButton {
          padding: 1rem;
          border: 1px dashed var(--doted-border);
        }
      }
    }
    .submitContainer {
      display: flex;
      justify-content: center;
    }
  }
}

.errorMessage {
  margin-block: 1rem;
  color: var(--error-color);
  font-weight: bold;
}
