:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: rgb(255, 255, 255);
  --background-start-rgb: rgb(0, 0, 100);
  --background-end-rgb: rgb(0, 0, 10);

  --border-card-color: rgba(152, 152, 152, 0.554);
  --card-background-start: rgb(74, 56, 115);
  --card-background-end: rgb(52, 19, 113);
  --card-background-hover-start: rgb(89, 70, 132);
  --card-background-hover-end: rgb(60, 27, 123);

  --shadow-color: rgba(239, 239, 239, 0.228);

  --modal-background-start: rgb(18, 7, 84);
  --modal-background-end: rgb(12, 2, 51);
  --modal-background-layer: rgba(162, 162, 162, 0.397);

  --doted-border: rgb(92, 92, 92);
  --border-color: rgba(222, 222, 222, 0.18);

  --error-color: rgb(250, 111, 111);

  --button-background-start: rgb(40, 21, 248);
  --button-background-end: rgb(30, 8, 169);
  --button-background-hover-start: rgb(55, 38, 240);
  --button-background-hover-end: rgb(44, 27, 154);
}
html {
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: rgba(0, 0, 0);
    --background-start-rgb: rgb(255, 255, 255);
    --background-end-rgb: rgb(214, 219, 220);

    --border-card-color: rgb(95, 95, 95);
  }
  html {
    color-scheme: normal;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vw;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}
