.title {
  text-align: center;
}

.sectionTitle,
.title {
  margin-block-start: 2rem;
}

.imageContainer {
  padding: 1rem;
  img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
  }
}
.description {
  padding-inline: 1rem;
  padding-block: 0.3rem;
}
