.title {
  text-align: center;
}

.sectionTitle,
.title {
  margin-block-start: 2rem;
}

.imageContainer {
  position: relative;
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  .image {
    width: 100%;
    max-width: 80%;
    max-height: 500px;
    object-fit: contain;
  }
}
.description {
  padding-inline: 1rem;
  padding-block: 0.3rem;
}
