@import "mixins";

.spaceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 600px;
  cursor: pointer;
  .space {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-image: radial-gradient(
      farthest-corner at 30% 30%,
      var(--card-background-start) 0%,
      var(--card-background-end) 90%
    );
    @include std-shadow(var(--shadow-color));
    .imageContainer {
      width: 100%;
      padding-block-end: 1rem;
      margin-block-end: 0.5rem;
      border-bottom: 1px solid var(--border-color);
      .image {
        aspect-ratio: 3/2;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    .descriptionContainer {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      min-height: 80px;
    }
  }
}
